<div class="header">
    	<h1>Bombhug</h1>
</div>

<div class="links">
	<%= link_to (t :frontPage), home_index_path %>
	<%= link_to (t :news), news_index_path %>
	<%= link_to (t :events), events_path %>
	<%= link_to (t :artists), artists_path %>
	<%= link_to (t :albums), albums_path %>
	<%= link_to (t :releases), singles_path %>
	<%= link_to (t :contacts), contacts_path %>
</div>

<div class="container">
	<p><%= paginate @news %></p>
	<% @news.each do |news| %>
		<div class="galleryItem">
			<a href="#"><%= image_tag news.pic.url %></a>
			<h3><%= news.title %></h3>
			<% if news.content.length > 200 %>
				<p><%= link_to news.content[0..200] + "...", news %></p>
			<% else %>
				<p><%= link_to news.content, news %></p>
			<% end %>
			<% if signed_in? %>
    		<p><%= link_to 'Edit', edit_news_path(news) %> |
    		<%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %> |
  		<% end %>
		</div>
	<% end %>
</div>


<br />
<% if signed_in? %>
	<%= link_to 'New News', new_news_path %>
	<%= link_to "Logout", "/logout" %></p>
<% end %>
