<div class="header">
    	<h1>Bombhug</h1>
</div>

<div class="links">
	<%= link_to (t :frontPage), home_index_path %>
	<%= link_to (t :news), news_index_path %>
	<%= link_to (t :events), events_path %>
	<%= link_to (t :artists), artists_path %>
	<%= link_to (t :albums), albums_path %>
	<%= link_to (t :releases), singles_path %>
	<%= link_to (t :contacts), contacts_path %>
</div>

<div class="container">
	<p><%= paginate @singles %></p>
	<% @singles.each do |single| %>
		<div class="galleryItem">
			<a href="#"><%= image_tag single.pic.url %></a>
			<h3><%= link_to single.title, single %></h3>
			<h3><%= single.year %></h3>
			<% if signed_in? %>
    		<p><%= link_to 'Edit', edit_single_path(single) %> |
    		<%= link_to 'Destroy', single, method: :delete, data: { confirm: 'Are you sure?' } %> |
  		<% end %>
		</div>
	<% end %>
</div>


<br />
<% if signed_in? %>
	<%= link_to 'New Single', new_single_path %>
	<%= link_to "Logout", "/logout" %></p>
<% end %>
